/* *{margin:0;padding:0;font-family: 'Poppins', sans-serif; } */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Montserrat', sans-serif;
}
.logo{height:30px;width:auto;}

body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 100vh; */
  overflow-x: hidden;
}

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  
}

nav a {
  text-align: center;
  text-decoration: none;
}
.clublink{
  text-decoration: none;
}
nav a span {
  color: #333;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}

nav:hover a span {
  color: #0002;
  text-decoration: none;
}
nav:hover .clublink{
  text-decoration: none;
  
}


nav a:hover span {
  color: #000;
  background: rgb(255, 255, 255);
}

nav a span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: rgba(0, 0, 0, 0.1);

  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}


nav a span:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width:1800px;
  height: 1000px;
}

nav a:nth-child(1) span:before {
  background: #d88789;
}

nav a:nth-child(2) span:before {
  background: #42a0b1;
}

nav a:nth-child(3) span:before {
  background: rgba(92, 72, 148, 0.841);
}

nav a:nth-child(4) span:before {
  background: #747ecc;
}

nav a:nth-child(5) span:before {
  background: #93967a;
}

nav a:nth-child(6) span:before {
  background: #e5d8a6;
}
.text1{text-align: center;margin-top: 40px;margin-bottom: 40px;font-family: 'Heebo', sans-serif;;}
.sign_in{margin-left:10px;}
.button{margin-left:10px;}
/* .footer{background-color: black;color:aliceblue} */
.heading:hover{color:green;font-weight: bold;}
.part:hover{background-color: green;}
.bold{color:blue;}
.body{background-color:rgb(220, 135, 24)}
.check_button{text-decoration:none;color:green;}

